@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&family=Quicksand&family=Raleway:wght@400;800&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: #f5f5f5;
}


.linear-gradient {
  background: linear-gradient(to right, #b26cea, #f3607d, #ff8259, #ffa74b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.home-text {
  flex: 2;
}

.home-img {
  flex: 2;

}


.home-text p:nth-child(1) {
  font-size: 4.5rem;
  line-height: 1;
}